body {
  background-image: url('1498410115_QQ图片20170626005937.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

h1 {
  font-size: 3em;
  color: #e32636;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 50px;
}

.button1 {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 32px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-top: 50px;
}

.button2 {
  background-color: #4CAF50;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 32px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-top: 50px;
}
